<script src="<%= basePath %>/js/jquery.min.js"></script>
<script src="<%= basePath %>/js/bootstrap.bundle.min.js"></script>
<script src="<%= basePath %>/js/app.min.js"></script>
<script src="<%= basePath %>/js/app.init.js"></script>
<script src="<%= basePath %>/js/app-style-switcher.js"></script>
<script src="<%= basePath %>/js/waves.js"></script>
<script src="<%= basePath %>/js/sidebarmenu.js"></script>
<script src="<%= basePath %>/js/feather.min.js"></script>
<script src="<%= basePath %>/js/custom.min.js"></script>
<script src="<%= basePath %>/js/dashboard1.js"></script>
<script src="<%= basePath %>/js/perfect-scrollbar.jquery.js"></script>
<script src="<%= basePath %>/js/jquery.sparkline.min.js"></script>
<script src="<%= basePath %>/js/apexcharts.min.js"></script>


  </body>
</html>